/*
create trigger usuariosA after insert on maestro
for each row

insert into usuarios(usuario,contraseña,tipo,fecha,activo) 
values(new.matriculaMaestro,new.matriculaMaestro,'Maestro',default,true);

create trigger usuariosAlumno after insert on alumno
for each row

insert into usuarios(usuario,contraseña,tipo,fecha,activo) 
values(new.MatriculaAlumno,new.MatriculaAlumno,'Alumno',default,true);