*´{
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body{
  font-family:helvetica, arial, sans-serif;
  line-height:20px;
  background: rgb(254,255,255);
  background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(252,252,252,1) 100%);
  background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 100%);
  background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#fcfcfc',GradientType=0 );
  background-repeat:no-repeat; 
  background-size:cover; 
  background-attachment: fixed;
}
