@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8dnxgi');
  src:  url('fonts/icomoon.eot?8dnxgi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8dnxgi') format('truetype'),
    url('fonts/icomoon.woff?8dnxgi') format('woff'),
    url('fonts/icomoon.svg?8dnxgi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-books:before {
  content: "\e920";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-cog:before {
  content: "\e994";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-link:before {
  content: "\e9cb";
}
