fieldset{
    width: 100%;
	max-width:900px;
    margin:auto;
    margin-top: 25px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 50%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 0%,rgba(237,237,237,1) 50%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 0%,rgba(237,237,237,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
    border: 5px groove;
}
fieldset > p{
    line-height: 25px;
    color: rgba(3, 3, 3, 0.9);
    font-size: 25px;
}

label{
    font-size: 25px;
    color: rgba(3, 3, 3, 0.9);
}

fieldset > hr {
	background:rgb(0, 0, 0);
	height:3px;
	border:none;
}
fieldset > legend {
    font-size: 30px;
    color: rgba(3, 3, 3, 0.9);
    font-style: italic;
}

input{
    font-size: 15px;
    color: rgba(3, 3, 3, 0.9);
}

.boton > input{
    font-size: 20px;
    color: rgba(3, 3, 3, 0.9);
    text-align:center;
 	margin-left: 44%; 
}

select {
    overflow:auto;
    font-size: 15px;
    color: rgba(3, 3, 3, 0.9);
}