.contentGraphic{
    display: flex;
    width: 70%;
    height: 50%;
    padding: 5%;
    box-shadow: 20px 20px 20px #000;
    -moz-box-shadow: 20px 20px 20px #000;
    -webkit-box-shadow: 0px 2px 20px #000;
    -o-box-shadow: 20px 20px 20px #000;
    -ms-box-shadow: 20px 20px 20px #000;
}
.contentGraphic .textP{
    width: 1%;
    font-size: 1em;
    font-weight: bold;
    
    word-wrap: break-word;
    -webkit-word-wrap: break-word;
    -ms-word-wrap: break-word;
    -moz-word-wrap: break-word;
    -o-word-wrap: break-word;

    text-align:center;
    margin-left: 9%;
    margin-right: 5%;
}
.contentGraphic .graphic{
    width: 50%;
    height: 50%;
    text-align: center;
}

.contentGraphic .graphic .parciales{
    width: 7%;
}
.contentGraphic .graphic .parciales .parcial{
    border-right: 3px solid black;
    border-top: 3px solid black;
    height: 50%;
}
.contentGraphic .graphic .calificaciones{
    display: flex;
    height: 10%;
    border-top: 3px solid black;
}
.contentGraphic .graphic .calificaciones .calificacion{
    position: relative;
    width: 20%;
    background: green;
    margin-left: 7%;
}
.contentGraphic .graphic .calificaciones .calificacion div{
    margin-top:15%;
    width:30%; 
    color:white;
    font-size: 1em;
    font-weight: bold;
}
.contentGraphic .indicadores{
    width: 21%;
    height: 24%;
    display: block;
}
.contentGraphic .indicadores .indicador{
    display: block;
    width: 10%;
    height: 20%;
}