body{
    margin: 0%;
}
img{
    width:65%; 
    margin: 0% 17.5%;
}
#loginCotainer{
    display: block;
    width: 35%;
    padding: 5% 0;
    margin:3% 32.5%;
    background-color: #F1F1F1;

    box-shadow: 20px 20px 20px #000;
    -moz-box-shadow: 20px 20px 20px #000;
    -webkit-box-shadow: 0px 2px 20px #000;
    -o-box-shadow: 20px 20px 20px #000;
    -ms-box-shadow: 20px 20px 20px #000;

    border-radius: 2.5%;
    -ms-border-radius: 2.5%;
    -moz-border-radius: 2.5%;
    -o-border-radius: 2.5%;
    -webkit-border-radius: 2.5%;
    text-align: center;
    font-family: Tahoma;
    
}
#loginCotainer form h1{
    margin: 0%;
    font-family: Maiandra GD;
}
#loginCotainer form #login{
	width: 50%;
	height: 30px;
	margin: 3% 10%;
	color: #6d6d6d;
	text-align: center;
}
#loginCotainer form #password{
	width: 50%;
	height: 30px;
	margin: 3% 10%;
	color: #6d6d6d;
	text-align: center;
}
#loginCotainer form button{
    width: 30%;
    height:40px;
    margin-top:5%;
    border:none;
    background-color: #3483FA;
    color:white;
    font-weight: bold;
    transition: all 0.5s;
 }
 #loginCotainer form button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);

    transition: all 0.3s;
}

#loginCotainer form #checkboxInput{
	width: 5%;
	height: 20px;
	padding:0;
	margin:0;
}