.Contenedor {
	width: 90%;
	max-width:700px;
	margin-left: 2%;
	
}
 
.Contenedor article {
	
	padding:20px;
	margin:20px 0;
	color:rgb(10, 10, 10);
	background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 50%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 0%,rgba(237,237,237,1) 50%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 0%,rgba(237,237,237,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
    border: 5px groove;
}
 
.Contenedor article h2 {
	color:rgb(0, 0, 0);
}
 
.Contenedor article hr {
	background:rgb(0, 0, 0);
	height:3px;
	border:none;
}
 
.Contenedor article p {
	line-height: 25px;
	background-color:  rgb(171, 239, 241);
}
 
.Contenedor article h2, article p, article hr {
	margin-bottom: 20px;
}


.Contenedor  legend {
    font-size: 30px;
    color: rgba(3, 3, 3, 0.9);
	font-style: normal;
	text-align: center;
}

.Boton a{
	margin-top: 12px;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: #000000;
    background-color: #cbcdce;
    border-radius: 6px;
	border: 2px solid #212122;
	margin-left: 5%;
}
.Boton hr {
	background:rgb(0, 0, 0);
	height:3px;
	border:none;
}
.Contenedor  input{
    font-size: 16px;
    color: rgba(3, 3, 3, 0.9);
    text-align:center;
 	margin: auto;
}

.Parciales {
	display: none;
}