header{
	padding:0;
	margin:0;
	margin-bottom:3%;
}
header nav{
	padding: 1.5% 0%;
	background-color:black;
	color:white;
}
header nav a{
	text-decoration:none;
	color:white;
}
header nav ul{
	margin:0;
	padding: 0;
	display:flex;
	justify-content:center;
	list-style:none;
	position:relative;
}
.firstElement{
	text-align:center;
	width:14.28%;
}
header nav ul li ul{ /*Hover No 1*/
	display:block;
	visibility:hidden;
	opacity:0;
	padding: 0;
	margin: 0%;
	position:absolute;
	background:black;
	top:180%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
}
header nav ul li ul li{ /*Hover No 2*/
	margin:0%;
	width:100%;
	padding:7% 0%;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	position: relative;
}
header nav ul li ul li ul{ /* <- hover 3*/
	display:block;
	visibility:hidden;
	opacity:0;
	padding: 0;
	margin: 0%;
	position: absolute;;
	background:black;
	left: 100%;
	top: 0%;
	width: 100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
}
header nav ul li ul li ul li{
	position: relative;
	margin:0%;
	padding:7% 0%;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
/******* Hovers *****/
/*No 1*/header nav ul li:hover .submenu{
	visibility:visible;
	opacity:1;
	z-index:2;
}
/*No 2*/header nav ul li li:hover{
	background:#5da5a2;
}

/*No 3*/header nav ul li .submenu li:hover .submenuSubmenu{ 
	visibility: visible;
	opacity:1;
	z-index:2;
}
/******* Iconos *******/
header nav > ul > li > a > span{
	background:#174459;
	position:absolute;
	display:block;
	top:-250%;
	
	-webkit-transform:scale(1,0.1);
	-o-transform:scale(1,0.1);
	-moz-transform:scale(1,0.1);
	-ms-transform:scale(1,0.1);
	transform:scale(1,0.1);

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.firstElement:hover > a > span{
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	
	-webkit-transform: translateY(55%);
	-moz-transform: translateY(55%);
	-o-transform: translateY(55%);
	-ms-transform: translateY(55%);
	transform: translateY(55%);
	z-index: 2;
}

#resultado > p{
	color: green;
	text-align: center;
	font-size: 25px;
}
header nav > ul > li > a > span i{
	opacity:0;
}
.firstElement:hover > a > span i{
	opacity:1;
}
header nav > ul > li > a span .icon {
	display:block;
	line-height:350%;
}
header nav ul li a .primero {
	background: #920EC1;
}
header nav ul li a .segundo {
	background: #10D1DF;
}
header nav ul li a .tercero {
	background: #28A402;
}
header nav ul li a .cuarto {
	background: #10DA83;
}
header nav ul li a .quinto {
	background: #EEB713;
}
header nav ul li a .sexto {
	background: #1E90FF;
}
header nav ul li a .septimo{
	background: #CACBCA;
}