header #section1{
    display:flex;
    width: 100%;
    line-height: 4px;
}
header #section1 #mexicoLogo{
    width: 5%;
    height: 5%;
    margin:2%;
    margin-bottom: 0%;
    margin-left: 20.5%;
}
header #section1 span{
    margin: 2% 10%;
    margin-bottom: 0%;
    text-align: center;
    font-weight: bold;
}
header #section1 #itlLogo{
    width: 7%;
    height: 8%;
    margin:2%;
    margin-bottom: 0%;
}
header #section2{
    display: flex;
    width: 100%;
    position: relative;
}

header #section2 #cursoInfo{
    margin-left: 18%;
    width: 30%;
    line-height: 4px;
}
header #section2 #cursoInfo2{
    display: flex;
    width: 100%;
}
header #section2 #cursoInfo2 div{
    margin-right: 15%;
}
header #section2 #horario{
    font-size: 0.9em;
    margin-left: 4.7%;
    width: 30%;
}
header #section2 #horario th{
    background: black;
    color:white;
}
header #section2 #horario tbody tr td{
    text-align: center;
    width: 20%;
}

#cuerpo{
    border: black 2px solid;
    margin-top: 2%;
    width:65.5%;
    height: 80%;
    margin-left:17.25%;
}

#cuerpo .seccion{
    margin-left:5%;
    width: 100%;
    position: relative;
}
#cuerpo .seccion h3{
    text-decoration: underline;
}

#cuerpo .seccion #seccion1{
    font-size: 0.8em;
    text-decoration: none;
    width: 55%;
    position: relative;
}
#cuerpo .seccion  #seccion1 .seccion1Campos{
    border:black 3px solid;
    width: 10%;
    height: 1.5em;
}
#cuerpo .seccion  div .specialCaracter{
    position: relative;
    top:-5%;
    font-size: 8em;
}
#cuerpo .seccion div #seccion2{
    position: relative;
    margin-top: 5%;
}
#cuerpo .seccion div #seccion2 .seccion1Campos{
    border:black 3px solid;
    margin: 0;
    width: 20%;
    height: 1.2em;
}
#cuerpo .seccion  #seccion3{
    font-size: 0.8em;
    text-decoration: none;
    width: 90%;
}
#cuerpo .seccion #seccion3 tbody tr td{
    border:black 2px solid;
    height: 1.5em;
    border-collapse: collapse;
}
#cuerpo .seccion .tabla3{
    width: 65%;
}
#cuerpo .seccion .tabla3 #tabla3{
    border-collapse: collapse;
    border:black 3px solid;
}