#tablaAvisos {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align: right;
    width: 75%;
    
}

#tablaAvisos th {
    padding: 5px;
    font-size: 16px;
    background-color: #83aec0;
    background-image: url(fondo_th.png);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #558FA6;
    border-bottom-color: #558FA6;
    font-family: “Trebuchet MS”, Arial;
    text-transform: uppercase;
}